<!DOCTYPE html>
<html lang="en;cn">

<head>
    <meta charset="UTF-8"/>
    <title>≡个人数据驱动的千智模型≡</title>
    <link rel="stylesheet" href="css/style.css"/>


</head>

<body>

<svg class="car" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2120 1000"
     preserveAspectRatio="xMidYMid slice">
    <image width="2120" height="1000"
           xlink:href="https://www.teslamotors.com/sites/default/files/images/model-3/gallery/gallery-6.jpg"/>
    <image width="2120" height="1000"
           xlink:href="https://www.teslamotors.com/sites/default/files/images/model-3/gallery/gallery-5.jpg"/>
    <image width="2120" height="1000"
           xlink:href="https://www.teslamotors.com/sites/default/files/images/model-3/gallery/gallery-4.jpg"/>
    <image width="2120" height="1000"
           xlink:href="https://www.teslamotors.com/sites/default/files/images/model-3/gallery/gallery-3.jpg"/>
    <image width="2120" height="1000"
           xlink:href="https://www.teslamotors.com/sites/default/files/images/model-3/gallery/gallery-2.jpg"/>
    <image width="2120" height="1000"
           xlink:href="https://www.teslamotors.com/sites/default/files/images/model-3/gallery/gallery-1.jpg"/>
</svg>
<svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="400 0 700 180" fill="white">
    <g class="tesla">
        <path d="M491 0c-3 9-11 18-21 20h-32v80h-20V20h-32c-10-2-18-11-21-20h126z"/>
        <path d="M730 20h68c10-2 18-11 21-20H710v60h89v20h-74c-10 2-18 11-21 20h115V40h-89V20z"/>
        <path d="M894 80V0h-20v100h86c10-2 18-11 21-20h-87z"/>
        <path d="M1019 0c3 9 11 18 21 20h74c10-2 18-11 21-20h-116zm3 40v60h20V60h70v40h20V40h-110z"/>
    </g>
    <g class="model">
        <path d="M119 0h30l76 73 74-73h30v100h-30V16l-83 84-83-84v84h-14z"/>
        <path d="M452 13c-57 0-95 21-95 45s39 46 95 46 94-22 94-46-37-45-94-45zm0 83c-39 0-69-17-69-39s30-37 69-37 67 15 67 37-28 39-67 39z"/>
        <path d="M643 16H574v84h69C724 100 753 82 753 58c0-21-29-41-111-42zm3 76h-46V24h46c49 0 80 10 80 34 0 24-31 34-80 34z"/>
        <path d="M782 16h141v8H807v28h100v10H807v29h122v9H782z"/>
        <path d="M960 16l26 0v75h115v9H960z"/>
    </g>
    <g class="e">
        <path d="M538 0c3 9 11 18 21 20h74c10-2 18-11 21-20H538z"/>
        <path d="M538 40c3 9 11 18 21 20h74c10-2 18-11 21-20H538z"/>
        <path d="M538 80c3 9 11 18 21 20h74c10-2 18-11 21-20H538z"/>
    </g>
    <g class="three">
        <path d="M1220 0c2 7 9 14 17 16H1365c8-2 14-9 17-16H1220z"/>
        <path d="M1220 42c2 7 9 14 17 16H1365c8-2 14-9 17-16H1220z"/>
        <path d="M1220 84c2 7 9 14 17 16H1365c8-2 14-9 17-16H1220z"/>
    </g>
    <text fill="white" opacity=".5" font-family="sans-serif" text-anchor="middle" x="750" y="175" font-size="35"></text>
</svg>
<p align="center">≡京ICP备17017754号-1≡</p>

<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js'></script>
<script src="js/index.js"></script>

</body>

</html>
